<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aremo Travaux</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
   <div style="border: 2px solid black; width: 80%; height: 140px; margin-left: 10%; margin-top: 20px; position: relative;" >
       <div id="imageUtilisateur" style="border: 2px solid rgb(241, 20, 20); width: 15%; margin: 0px; padding: 0%; height: 135px; position: absolute;">
            <img src="/static/images/utls.jpg" alt="" style="width: 100%; height: 100%;">
       </div>
       <div style="position: absolute; margin-left: 16%; top: 0px; height: 130px;">
            <ul >
                <li>
                    Nom :<b> Assma</b> 
                </li>
                <li>
                   Prénom :<b> IBIKAS</b> 
                </li>
                <li>
                    Tél :<b> 0696256418</b> 
                </li>
                <li>
                    Email :<b> assmaibikas@gmail.com</b> 
                </li>
                <li>
                    date de naissance :<b> 30-12-2001</b> 
                </li>
                <li>
                    adresse :<b> Massa-Chtuka-Ait-Baha</b> 
                </li>
            </ul>
       </div>
       <div style="width: 350px; height: 50px; position: absolute; margin-left: 71%;margin-top: 40px;">
            <button style="width: 40%; height: 30px; border-radius: 5px;font-weight: bold; font-size: 22px; background-color: rgb(65, 116, 65);"> Présent</button>
            <button style="width: 40%; height: 30px; border-radius: 5px;font-weight: bold; font-size: 22px; background-color: rgb(65, 116, 65);"> Abscent</button>
       </div>
   </div>     



</body>
</html>