<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div id="admin">
        <div id="img">
            <img src="/static/images/admin1.jpg" alt="">
        </div>
        <div id="formulaire">
            <form>
                <label for="fname">Nom d'admin:</label>
                <input type="text" id="fname" name="firstname" placeholder="Votre nom..">
            
                <label for="email">E-mail:</label>
                <input type="text" id="email" name="email" placeholder="Votre email..">

                <label for="password">Mot de pass</label>
                <input type="password"  placeholder="Votre mot de pass" id="password">

                <input type="submit" value="Validé"  >
            </form>
        </div>
    </div>
</body>
</html>